<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="referrer" content="origin-when-crossorigin" />

    <link
      rel="stylesheet"
      href="/web/static/3rdparty/jquery.chosen-1.8.7/chosen.css"
      type="text/css"
      media="screen"
    />

    <style type="text/css">
      h3 {
        margin: 0px;
      }
      div.param {
        margin: 3px;
        font-size: 85%;
      }
      div.parent {
        border: 1px solid #aaa;
        margin: 3px 0px;
      }
      div.parent > div:first-child {
        background: #ddd;
        border-bottom: 1px solid #ccc;
        margin: 0px;
        padding: 2px;
      }
      input {
        padding: 0px;
        margin: 0px;
      }
      body {
        font-family: Arial;
        background: #eee;
        margin: 0px;
        padding: 0px;
      }
      #script_desc {
        font-size: 85%;
        margin: 8px 0px;
        background: #ddd;
        border: 1px solid #aaa;
      }
      #script_desc p {
        margin: 2px;
      }
      div.footer {
        background: #ddd;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 7px;
        border-top: 1px solid #aaa;
        font-size: 80%;
      }
      a {
        text-decoration: none;
      }
      .highlight {
        background-color: yellow;
      }
      #csv_info {
        overflow: auto;
        max-width: 100%;
        max-height: 300px;
      }
      .exclude td {
        text-align: center;
      }
    </style>

    <!-- extend here to add page title -->
    <title>Run Import from CSV</title>

    <!-- block for extra head elements (not css or javascript) E.g. icon, meta tags -->

    <link rel="icon" href="/web/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <form
      id="script_form"
      enctype="multipart/form-data"
      method="post"
      action="{% url 'script_run' script_id %}"
    >
      {% csrf_token %}

      <div style="padding: 10px; margin-bottom: 40px">
        <h3 id="scriptName">Import from CSV</h3>
        <div id="script_desc">
          <p>
            <br />
            Import key-value pairs and tags from a CSV file.<br />
            <br />
            Check the guide for more information on parameters and errors:<br />
            https://guide-kvpairs-scripts.readthedocs.io/en/latest/index.html<br />
            <br />
            Default namespace: openmicroscopy.org/omero/client/mapAnnotation<br />
          </p>

          <div>
            <b>Authors:</b> Christian Evenhuis, Tom Boissonnet, Jens Wendt
          </div>
          <div><b>Contact:</b> https://forum.image.sc/tag/omero</div>
          <div><b>Version:</b> 2.0.0</div>
        </div>

        {% if source_names %}
        <h3>Annotating {{ source_dtype }}{{ source_names|pluralize }}:
          {{ source_names|join:", " }}
        </h3>
        {% endif %}


        <div style="margin: 10px 0">
          Target Data Type: <span style="color: red">*</span>
          <select tabindex="1" name="Target Data_Type">
            {% for dtype in target_types %}
              <option value="{% if dtype != source_dtype %}-- {% endif %}{{ dtype }}">{{ dtype }}</option>
            {% endfor %}
          </select>
        </div>


        <div>
          <label title="The column name in the CSV containing the objects IDs.">Target Column (ID or Name)</label>
          <select id="target_column">
            <!-- options added when CSV loaded -->
          </select>
        </div>

        <div id="csv_info" style="margin: 30px 0">
          <div style="margin: 20px">
            <h3>Drag and Drop your CSV file here...</h3>
            (or enter File Annotation ID below)
          </div>
        </div>

        <div class="required parent">
          <div class="param" title="Data type of the parent objects.">
            <table border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td valign="top">
                  Data Type:

                  <span style="color: red">*</span>
                </td>
                <td valign="top">
                  <!-- List - Users should enter comma-separated values into field -->

                  <!-- drop-down list of enums -->
                  <select tabindex="1" name="Data_Type">
                    <option value="Project" {% if source_dtype == "Project" %}selected="True"{% endif %}>Project</option>

                    <option value="Dataset" {% if source_dtype == "Dataset" %}selected="True"{% endif %}>Dataset</option>

                    <option value="Image" {% if source_dtype == "Image" %}selected="True"{% endif %}>Image</option>

                    <option value="Screen" {% if source_dtype == "Screen" %}selected="True"{% endif %}>Screen</option>

                    <option value="Plate" {% if source_dtype == "Plate" %}selected="True"{% endif %}>Plate</option>

                    <option value="Well" {% if source_dtype == "Well" %}selected="True"{% endif %}>Well</option>

                    <option value="Acquisition" {% if source_dtype == "Acquisition" %}selected="True"{% endif %}>Acquisition</option>

                    <option value="Tag" {% if source_dtype == "Tag" %}selected="True"{% endif %}>Tag</option>
                  </select>

                  <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                </td>
              </tr>
            </table>
          </div>

          <div style="margin-left: 20px">
            <div class="param" title="IDs of the parent objects">
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">
                    IDs:

                    <span style="color: red">*</span>
                  </td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <img
                      src="/web/static/webclient/image/info16.png"
                      title="Add items to list, separated by ','"
                    />
                    <input tabindex="1" type="text" name="IDs" value="{{ source_ids|join:',' }}" />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="If no file is provided, list of file IDs containing metadata to populate (one per ID). Otherwise, takes the most recent CSV on each parent object."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">File Annotation:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input id="File_Annotation" tabindex="1" type="text" name="File_Annotation" />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->

                    OR <input name="file_annotation" type="file" />
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="Namespace assigned to the key-value pairs. Default is the client namespace (editable in OMERO.web)."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">
                    Namespace (blank for default or from csv):
                  </td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      tabindex="1"
                      type="text"
                      name="Namespace (blank for default or from csv)"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="parent">
          <div
            class="param"
            title="Check this box to allow the import of tags."
          >
            <table border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td valign="top">Import tags:</td>
                <td valign="top">
                  <!-- List - Users should enter comma-separated values into field -->

                  <input
                    tabindex="1"
                    type="checkbox"
                    name="Import tags"
                    checked="True"
                  />

                  <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                </td>
              </tr>
            </table>
          </div>

          <div style="margin-left: 20px">
            <div
              class="param"
              title="Restrict the usage of tags to the ones owned by the user. If checked, tags owned by others will not be considered for the creation of new tags."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Only use personal tags:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      tabindex="1"
                      type="checkbox"
                      name="Only use personal tags"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="Creates new tags and tagsets if the ones specified in the CSV do not exist."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Allow tag creation:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      tabindex="1"
                      type="checkbox"
                      name="Allow tag creation"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="parent">
          <div class="param" title="Ticking or unticking this has no effect">
            <table border="0" cellpadding="0" cellspacing="1">
              <tr>
                <td valign="top">Other parameters:</td>
                <td valign="top">
                  <!-- List - Users should enter comma-separated values into field -->

                  <input
                    tabindex="1"
                    type="checkbox"
                    name="Other parameters"
                    checked="True"
                  />

                  <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                </td>
              </tr>
            </table>
          </div>

          <div style="margin-left: 20px">
            <div class="param" title="Skip the keys with empty values.">
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Exclude empty values:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      tabindex="1"
                      type="checkbox"
                      name="Exclude empty values"
                      checked="True"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="Separator used in the CSV file. &#x27;guess&#x27; will attempt to detetect automatically which of ,;\t to use."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">CSV separator:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <!-- drop-down list of enums -->
                    <select tabindex="1" name="CSV separator">
                      <option value="guess" selected="True">guess</option>

                      <option value=";">;</option>

                      <option value=",">,</option>

                      <option value="TAB">TAB</option>
                    </select>

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="Separator used to split cells into multiple key-value pairs."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Split values on:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      tabindex="1"
                      type="text"
                      name="Split values on"
                      value=""
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="Columns to exclude from the key-value pairs. &lt;ID&gt; and &lt;NAME&gt; correspond to the column name specified by the next two parameters. &lt;PARENTS&gt; matches all {PROJECT, DATASET, SCREEN, PLATE, RUN, WELL}."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Columns to exclude:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <img
                      src="/web/static/webclient/image/info16.png"
                      title="Add items to list, separated by ','"
                    />
                    <input
                      id="Columns_to_exclude"
                      tabindex="1"
                      type="text"
                      name="Columns to exclude"
                      value="&lt;ID&gt;,&lt;NAME&gt;,&lt;PARENTS&gt;"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="The column name in the CSV containing the objects IDs."
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Target ID colname:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      id="Target_ID_colname"
                      tabindex="1"
                      type="text"
                      name="Target ID colname"
                      value="OBJECT_ID"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>

            <div
              class="param"
              title="The column name in the CSV containing the objects names. (used only if the column ID is not found"
            >
              <table border="0" cellpadding="0" cellspacing="1">
                <tr>
                  <td valign="top">Target name colname:</td>
                  <td valign="top">
                    <!-- List - Users should enter comma-separated values into field -->

                    <input
                      id="Target_name_colname"
                      tabindex="1"
                      type="text"
                      name="Target name colname"
                      value="OBJECT_NAME"
                    />

                    <!-- If "File Annotation", allow user to choose file to upload, to create a File-Annotation -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div style="float: right">
          <a href="#" tabindex="3" onClick="self.close()">Cancel</a>
          <input id="submit" tabindex="2" type="submit" value="Run Script" />
        </div>
        <a
          href="/web/webclient/get_original_file/16153/"
          tabindex="0"
          target="_blank"
        >
          View Script
        </a>
      </div>
    </form>

    <script>
      const SCRIPTUI_INDEX = "{% url 'omero_scriptui_index' %}";
      const DEFAULT_EXCLUDE = ["OBJECT_ID", "OBJECT_NAME", "PROJECT", "DATASET", "SCREEN", "PLATE", "RUN", "WELL"];

      // store Table data here when we load it...
      // has 'header', 'rows', 'namespace', 'row_count'
      let table_json = undefined;

      document.getElementById("File_Annotation").addEventListener("input", function(event){
        loadCsvFileAnnotation(event.target.value);
      })

      function loadCsvFileAnnotation(annId) {
        let url = `${SCRIPTUI_INDEX}read_csv_annotation/${annId}/`;

        fetch(url).then(rsp => rsp.json())
        .then(data => {
          console.log(data);
          if (data.Error) {
            // TODO: show message to user
            console.error(data.Error);
          } else {
            // Store for access later
            table_json = data;
            // Build a CSV table...
            let csv_table = `
              <table>
                <tr>
                ${data.header.map(colName => `<th>${colName}</th>`).join("")}
                </tr>
                <tr class="exclude" title="Exclude from Key-Value pairs">
                ${data.header.map(colName => `<td>
                  <label>exclude
                    <input ${DEFAULT_EXCLUDE.includes(colName) && 'checked="true"'}
                      name="exclude_${colName}" type='checkbox' onclick='syncExcluded()'>
                  </label>
                  </td>`).join("")}
                </tr>
                ${data.rows.map(row => `<tr>
                    ${row.map(val => `<td>${val}</td>`).join("")}
                  </tr>`
                ).join("")}
              </table>
            `
            document.getElementById("csv_info").innerHTML = csv_table;
            // Update 'Columns_to_exclude' input
            syncExcluded();

            // Also put columns into target chooser - select OBJECT_ID if exists
            let options = data.header.map(colName => `<option value="${colName}" ${colName == 'OBJECT_ID' && 'selected="true"'}>${colName}</option>`).join("\n")
            options = `<option value=""> -- please choose -- </option>` + options;
            document.getElementById("target_column").innerHTML = options;
          }
        })
      }

      // Copy the excluded columns into the Columns_to_exclude input
      function syncExcluded() {
        let toExclude = table_json.header.filter(colName => {
          return document.querySelector(`input[name="exclude_${colName}"]`).checked;
        });
        console.log('syncExcluded', toExclude);
        document.getElementById("Columns_to_exclude").value = toExclude.join(",");
      }

      // When user chooses the target column, we check if it's an ID (number) column
      // and update the `Target ID colname` and `Target name colname` fields
      document.getElementById("target_column").addEventListener("input", function(event){
        let colName = event.target.value;
        if (colName == "") return;
        // table JSON will be loaded already (since we can't choose column otherwise)
        let colIndex = table_json.header.indexOf(colName);
        let colValues = table_json.rows.map(row => row[colIndex]);
        let isNumberCol = colValues.every(val => !isNaN(val));
        if (isNumberCol) {
          document.getElementById("Target_ID_colname").value = colName;
          document.getElementById("Target_name_colname").value = "";
        } else {
          // If the user chose a NAME column to identify objects, we need
          // to make sure that the `Target ID colname` field isn't used
          document.getElementById("Target_ID_colname").value = "";
          document.getElementById("Target_name_colname").value = colName;
        }
        // We also want to exclude this column from Key-Value pairs
        document.querySelector(`input[name="exclude_${colName}"]`).checked = true;
        syncExcluded();
      });


      // Use Drag and Drop to upload a File and create a File-Annotation
      // Uses code from
      // https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      let dropArea = document.getElementById('script_form');
      ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)
      })

      function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
      }

      ;['dragenter', 'dragover'].forEach(eventName => {
        dropArea.addEventListener(eventName, highlight, false)
      })

      ;['dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, unhighlight, false)
      })

      function highlight(e) {
        dropArea.classList.add('highlight')
      }

      function unhighlight(e) {
        dropArea.classList.remove('highlight')
      }

      dropArea.addEventListener('drop', handleDrop, false)

      function handleDrop(e) {
        let dt = e.dataTransfer
        let files = dt.files

        handleFiles(files)
      }

      function handleFiles(files) {
        ([...files]).forEach(uploadFile)
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function uploadFile(file) {
        document.getElementById("csv_info").innerHTML = "Uploading File...";

        let url = '{% url "scriptui_post_file_annotation" %}'
        let formData = new FormData()

        formData.append('file_annotation', file)

        fetch(url, {
          method: 'POST',
          body: formData,
          headers: {
            "X-CSRFToken": csrftoken,
          }
        })
        .then((rsp) => rsp.json())
        .then(data => {
          console.log(data);
          // update the form and also load CSV
          document.getElementById("File_Annotation").value = data.fileAnnId;
          loadCsvFileAnnotation(data.fileAnnId);
        })
        .catch(() => { alert("File upload failed")})
      }

    </script>

  </body>
</html>
